$aboutitlt-color: #38373c;
$aboutp-color: #87868a;
$about-btn-bg: #ffd763;
$about-btn-color: #38373c;
$about-btn-hover-bg:#09aeb8;
$about-btn-hover-color:#ffffff;
.about_area {
    padding: 100px 0;
    .about_image{
        img{
            width: 100%;
        }
    }
    .about_details {
        h4 {
            position: relative;
            padding-top: 25px;
            margin: 0;
            font-weight: 400;
            font-size: 20px;
            color: $aboutitlt-color;
            &:before{
                content: '';
                background: #38adb6;
                width: 25px;
                height: 3px;
                border-radius: 10px;
                position: absolute;
                left: 0;
                top: 0;
            }
        }
        h1 {
            margin-top: 25px;
            font-size: 30px;
            line-height: 36px;
            font-weight: 300;
            color: $aboutitlt-color;
        }
        p {
            margin: 45px 0 45px 0;
            font-size: 18px;
            line-height: 34px;
            padding-right: 45px;
            font-weight: 400;
            color: $aboutp-color;
        }
        .btn-yellow {
            padding: 17px 40px;
            background-color: $about-btn-bg;
            color: $about-btn-color;
            display: inline-block;
            font-weight: 700;
            text-decoration: none !important;
            letter-spacing: 1px;
            font-size: 12px;
            -webkit-transition: 0.3s;
            -o-transition: 0.3s;
            transition: 0.3s;
            &:hover {
                background-color: $about-btn-hover-bg;
                color: $about-btn-hover-color;
            }
        }
       
    }
}
