.service_style_2_area {
    padding: 100px 0;
    .service_img_info_box {
        img {
            width: 100%;
            margin-bottom: 100px;
        }
        p {
            font-size: 24px;
            color: #87868a;
            line-height: 40px;
            padding: 0 50px;
            font-weight: 400;
            text-align: center;
        }
    }
}
